{{#ember-virtual-scrollable content-size=_contentSize
                            scroll-left=_scrollLeft
                            scroll-top=_scrollTop
                            scroll-control-api-registrar=_scrollControlApiRegistrar
                            initial-scroll-top=_initialScrollTop
                            clientSizeChange=(action "clientSizeChange")
                            scrollChange=(action "scrollChange")
                            scrollingComplete=(action "scrollingComplete")
                            touchingChange=(action "touchingChange")
                            }}
  <div>
    {{~#each _cells as |cell|~}}
      <div style={{{cell.style}}}>{{yield cell.item cell.index }}</div>
    {{~/each~}}
  </div>
{{/ember-virtual-scrollable}}
{{ember-scrollbar direction="vertical"
                  scroll-top=_scrollTop
                  content-height=_contentSize.height
                  viewport-height=_clientHeight
                  is-touching=isTouching}}
{{!ember-scrollbar direction="horizontal"  scroll-left=_scrollLeft content-width=_contentSize.width viewport-width=_clientSize.width}}
